* { 
    margin: 0; 
    padding: 0; 
}
body { 
    font: 16px Helvetica, Sans-Serif; 
    line-height: 24px; 
    background: url(images/noise.jpg);
}
.clear { 
    clear: both; 
}
#page-wrap { 
    width: 800px; 
    margin: 40px auto 60px; 
}
#pic {
    float: right; 
    margin: -30px 0 0 0;
}
#myname { 
    margin: 0 0 16px 0; 
    padding: 0 0 16px 0; 
    font-size: 42px; 
    font-weight: bold; 
    letter-spacing: -2px; 
    border-bottom: 1px solid #999; 
}
h2 { 
    font-size: 20px; 
    margin: 0 0 6px 0; 
    position: relative; 
}
h2 span { 
    position: absolute; 
    bottom: 0; 
    right: 0; 
    font-style: italic; 
    font-family: Georgia, Serif; 
    font-size: 16px; 
    color: #999; 
    font-weight: normal; 
}
p { 
    margin: 0 0 16px 0; 
}
a { 
    color: #999; 
    text-decoration: none; 
    border-bottom: 1px dotted #999; 
}
a:hover { 
    border-bottom-style: solid; 
    color: rgb(25, 58, 204); 
}
ul { 
    margin: 0 0 32px 17px; 
}
#ButtonMail {
    background: #E0DC65;
    color: rgb(5, 5, 5);
    width: 120px;
    height: 30px;
    font-size: 16px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}
#ButtonMail:hover {
    background: #338033;
    cursor: pointer;
}
#objective {
    position: absolute;
    width: 500px; 
    float: left;
}
#objective p { 
    font-family: Georgia, Serif; 
    font-style: italic; 
    color: #666; 
}
dt { 
    position: relative;
    display: inline-block;
    font-style: italic; 
    font-weight: normal; 
    font-size: 16px; 
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    background: #2196f3;
    color: #fff;     
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0,5s;
    padding: 6px 15px; 
    width: 150px; 
    height: 80px; 
}
dt:hover{
    transform: scale(1.2);
    background: #3458BE;
}
dd { 
    background-color: #E0DC65;
    width: 600px; 
    float: right; 
}
dd.clear { 
    background-color: #70F8A3;
    float: none; 
    margin: 0;
    height: 15px;
    width: 180px;
}
#PlusButton {
    background: #E0DC65;
    color: rgb(5, 5, 5);
    width: 400px;
    height: 40px;
    border: 1px solid #338033;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}

summary {
    cursor: pointer;
  }
  
summary > * {
    display: inline;
}